<head prefix="og: http://ogp.me/ns#">
	<!-- meta charset tag comes first, so the browser knows what charset the title and description are -->
	<!-- You can use http://validator.w3.org/i18n-checker/ to see if your header encoding to UTF-8 -->
	<!-- For more information: https://www.w3.org/International/questions/qa-html-encoding-declarations#nonutf8 -->
	<meta charset=utf-8 />
	<!-- The title of the tab -->
	<title>{{ .Title }} | The Thaumatorium</title>
	<!-- This description should show up in Google results -->
	<meta name=description content="{{ .Description }}" />
	<!-- Needed for Hyvor, and helps search engines reduce duplicate content "/" vs "/index.html", for example -->
	<link rel="canonical" href="https://thaumatorium.com/">
	<!-- Theme color for Android/iOS -->
	<meta name=theme-color content=#800 />
	<!-- icon for Apple's hardware -->
	<link rel=apple-touch-icon href=/images/icons-192.png>
	<!-- meta viewport is actually CSS hidden inside your HTML -->
	<!-- More information https://wiki.whatwg.org/wiki/MetaExtensions#viewport and https://drafts.csswg.org/css-device-adapt/#viewport-meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<!-- manifest.json is currently (2020-05-01) only supported by Chromium based browsers, as per https://www.caniuse.com/#feat=web-app-manifest -->
	<link rel=webmanifest href=/manifest.json />
	<link rel=icon href=/images/favicon.svg />

	<!-- ?v=x in the CSS url is for Cache Busting -->
	<link rel=stylesheet href="/styles/main.css?v=3" />
	<link rel=stylesheet href="/styles/projects.css?v=3" />


	<!-- General OpenGraph data - shared between Facebook and Twitter -->
	<meta property="og:url" content="https://thaumatorium.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ .Description }}" />
	<meta property="og:image" content="https://thaumatorium.com/images/opengraph-cover.png?v=1" />
	<meta property="og:image:width" content="1280" />
	<meta property="og:image:height" content="668" />

	<!-- Twitter-only stuff -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@NostraDavid2" />
	<meta name="twitter:creator" content="@NostraDavid2" />
	<meta name="twitter:title" content="{{ .Title }}">
	<meta name="twitter:description" content="{{ .Description }}">
	<meta name="twitter:image" content="https://thaumatorium.com/images/opengraph-cover.png?v=1">
	<meta name="twitter:image:width" content="1280" />
	<meta name="twitter:image:height" content="668" />
</head>
